label {
    display: inline-block;
    width: 100%;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }
  
  input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  
  input:focus{
    
    outline: 2px solid blue;


  }
  ::placeholder {
    font-style: italic ;
    color: gray;
    font-size: 12px;
  }
  
  button{
  
    background: rgb(44,34,195);
    background: linear-gradient(0deg, rgba(44,34,195,1) 0%, rgba(205,45,253,1) 100%);
    color: #fff;
    border-radius: 40px;
    padding: 10px 40px;
    
    line-height: 20px;
    border: 1px #0066DA;
    text-transform: capitalize;
  }

  button:hover{
    cursor: pointer;
    background-color: royalblue;
  }
  
   
  .form-row > span {
    display: inline-block;
    padding: 11px;
    line-height: 20px;
    
    
  }
  
  .form-row > a {
    display: inline-block;
    padding: 11px;
    line-height: 20px;
  }
  .form-row > a:hover{
    color: red;
    text-decoration: underline;
  }


  .form-row + .form-row {
    margin-top: 40px;
  }