
    body{
       
        background-color: aqua;

    }
    .container {

        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc((100% - 800px) / 2);
        background-color: yellow;
        

    }

    .left-column {
        width: 40%;
        float: left;
        background-color: #5c37a8;
 
    }

    .main-title{
        display: inline-block;
        width: 100%;
        color: #fff;


    }

    .botttom-links{
        display: inline-block;
        width: 100%;
        color: #fff;


    }

    .link{
        color: #fff;

    }

    .simbol{

    }

    .right-column{

        width: 60%;
        float: left;
        background-color: #fff;
    }